<template>
  <div class="detail">
    <div class="container">
      <Navbar />
      <ImagePokemon v-bind:src="getImage(pokemon.id)" />
      <AbilityInfo
        v-bind:height="getAttributePokemon('height') / 10"
        v-bind:weight="getAttributePokemon('weight') / 10"
        v-bind:types="getAttributePokemon('types')"
        v-bind:abilities="getAttributePokemon('abilities')"
        v-bind:stats="getAttributePokemon('stats')"
      />
    </div>
  </div>
</template>

<script>
import AbilityInfo from "../components/AbilityInfo.vue";
import Navbar from "../components/Navbar.vue";
import ImagePokemon from "../components/ImagePokemon.vue";
import Pokemon from "../services/pokemons";

export default {
  name: "Detail",
  data() {
    return {
      loading: true,
      pokemon: {
        height: 0,
        weight: 0,
        types: [],
        abilities: [],
        stats: [],
      },
    };
  },
  methods: {
    getAttributePokemon(attribute) {
      return this.pokemon ? this.pokemon[attribute] : null;
    },
    getImage(id) {
      return Pokemon.getImageById(id);
    },
  },
  components: {
    AbilityInfo,
    Navbar,
    ImagePokemon,
  },
  mounted() {
    Pokemon.getPokemonDataByName(this.$route.params.name).then((response) => {
      this.pokemon = { ...response.data };
    });
  },
};
</script>

<style scoped>
.detail {
  position: absolute;
  background-color: #444;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.container {
  width: 70%;
  margin: 10px auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "nav nav";
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .navbar-pokemon {
    border-radius: 0;
  }
  .image-pokemon {
    margin: 0;
  }
}
</style>