<template>
  <div class="home">
    <div>
      <ul class="list-pokemon">
        <li v-for="pokemon of pokemons" :key="pokemon.id">
          <Card v-bind:name="pokemon.name" v-bind:id="pokemon.id" />
        </li>
      </ul>
    </div>
    <ButtonNext type="button" @clicked="showMore()" v-bind:disabled="disableShowMore"></ButtonNext>
    <router-view name="helper" />
  </div>
</template>

<script>
import Card from "../components/Card.vue";
import ButtonNext from "../components/ButtonNext.vue";
import Pokemon from "../services/pokemons";

function getPokemonIdByUrl(url) {
  const splitUrl = url.split("/");
  return splitUrl[splitUrl.length - 2];
}

export default {
  name: "Home",
  data() {
    return {
      pokemons: [],
      disableShowMore: true,
      offset: 0,
      title: "Pokedex",
    };
  },
  components: {
    Card,
    ButtonNext,
  },
  methods: {
    showMore: function () {
      this.disableShowMore = true;
      setTimeout(() => {
        Pokemon.list(this.offset).then((response) => {
          this.offset += 20;
          this.disableShowMore = false;
          this.pokemons = [
            ...this.pokemons,
            ...response.data.results.map((item) => {
              return {
                ...item,
                id: getPokemonIdByUrl(item.url),
              };
            }),
          ];
        });
      }, 500);
    },
  },
  mounted() {
    Pokemon.list(this.offset).then((response) => {
      this.offset = 20;
      this.disableShowMore = false;
      this.pokemons = [
        ...this.pokemons,
        ...response.data.results.map((item) => {
          return {
            ...item,
            id: getPokemonIdByUrl(item.url),
          };
        }),
      ];
    });
  },
};
</script>

<style scoped>
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  overflow-y: auto;
}
.home > div {
  display: block;
  width: 70%;
  margin: 10px auto 0;
}
.list-pokemon {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}
.list-pokemon > li {
  width: calc(25% - 10px);
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .home > div {
    width: calc(100% - 20px);
    padding: 10px;
  }
  .list-pokemon > li {
    width: calc(50% - 10px);
    margin: 5px;
  }
}
</style>
