<template>
  <div class="container-info-pokemon">
    <ul class="pokemon-ability-info">
      <li>
        <span>Altura</span>
        <span>{{ height }}m</span>
      </li>
      <li>
        <span>Peso</span>
        <span>{{ weight }}kg</span>
      </li>
      <li class="li-skill">
        <span>Habilidades</span>
        <ul>
          <li v-for="item in abilities" :key="item.slot">{{ item.ability.name }}</li>
        </ul>
      </li>
      <li>
        <div>
          <span>Tipo</span>
          <ul>
            <li
              v-for="item in types"
              :key="item.slot"
              v-bind:style="{ backgroundImage: `url(/assets/images/types/${item.type.name}.png)` }"
            ></li>
          </ul>
        </div>
      </li>
      <li v-for="item in stats" :key="item.stat.name">
        <span>{{ item.stat.name }}</span>
        <span>{{ item.base_stat }}</span>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "AbilityInfo",
  props: {
    height: Number,
    weight: Number,
    types: Array,
    abilities: Array,
    stats: Array,
  },
};
</script>
<style scoped>
.container-info-pokemon {
  margin: 10px;
}
.pokemon-ability-info {
  list-style: none;
  padding: 0 10px;
}
.pokemon-ability-info > li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.pokemon-ability-info > li.li-skill {
  flex-direction: column;
  align-items: flex-start;
}

.pokemon-ability-info > li.li-skill > ul {
  padding: 0;
  list-style: none;
  text-align: left;
  display: flex;
  text-transform: capitalize;
}

.pokemon-ability-info > li.li-skill > ul > li {
  padding: 5px 20px;
  margin: 5px;
  background-color: #616161;
  color: #fff;
  border-radius: 5px;
}

.pokemon-ability-info > li > span:first-child {
  font-weight: 600;
}
.pokemon-ability-info > li > div {
  display: block;
  width: 100%;
}
.pokemon-ability-info > li > div > span {
  text-align: center;
  display: block;
  font-weight: 600;
}
.pokemon-ability-info > li > div > ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pokemon-ability-info > li > div > ul > li {
  margin: 10px;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
</style>