<template>
  <button type="button" class="btn-more" @click="clicked" :disabled="disabled">Mostrar mais</button>
</template>

<script>
export default {
  name: "ButtonNext",
  props: {
    disabled: Boolean,
  },
  methods: {
    clicked() {
      this.$emit("clicked");
    },
  },
};
</script>

<style scoped>
.btn-more {
  border: none;
  background-color: #fff;
  color: #000;
  margin: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12pt;
  box-shadow: 0 0 10px #444;
  transition: 300ms;
  outline: none;
}

.btn-more:disabled {
  background-color: transparent;
  color: transparent;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.btn-more:disabled::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/assets/images/pokeball.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.btn-more:disabled:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 100%;
  animation: 1s preload-button infinite linear;
  position: absolute;
}
@keyframes preload-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
