<template>
  <div class="card-pokemon">
    <div
      @click="showDetail(name)"
      class="icon-pokemon"
      v-bind:style="{ backgroundImage: `url(${getImage(id)})` }"
    ></div>
    <p>{{ name }}</p>
  </div>
</template>

<script>
import Pokemon from "../services/pokemons"
export default {
  name: "Card",
  props: {
    name: String,
    id: String,
  },
  methods: {
    getImage(id) {
      return Pokemon.getImageById(id);
    },
    showDetail(name) {
      this.$router.push(`detail/${name}`);
    },
  },
};
</script>

<style scoped>
.card-pokemon {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.card-pokemon:hover {
  background-color: #c8e6c9;
  animation: 200ms animation-card linear;
  transition: 300ms all;
}
.card-pokemon > .icon-pokemon {
  width: calc(100% - 40%);
  height: 200px;
  padding: 5% 20%;
  background-color: #eee;
  transition: 300ms all;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-pokemon:hover > .icon-pokemon {
  background-color: #e3f2fd;
}
.card-pokemon > p {
  margin: 10px 0;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  color: #444;
  text-transform: capitalize;
}
@keyframes animation-card {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
