<template>
  <div class="image-pokemon" v-bind:style="{ backgroundImage: `url(${src})` }"></div>
</template>

<script>
export default {
  name: "ImagePokemon",
  props: {
    src: String,
  },
};
</script>
<style scoped>
.image-pokemon {
  width: calc(100% - 40%);
  height: 350px;
  padding: 5% 20%;
  background-color: #eee;
  transition: 300ms all;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}
</style>