<template>
  <nav class="navbar-pokemon">
    <span @click="backPage()"></span>
    <p>{{ $route.params.name }}</p>
  </nav>
</template>
<script>
export default {
  name: "Navbar",
  methods: {
    backPage() {
      this.$router.go(-1);
    },
  },
};
</script>
<style scoped>
.navbar-pokemon {
  grid-column: span 2;
  grid-row-start: nav;
  grid-row-end: nav;
  background-color: #e3350d;
  color: #fff;
  padding: 20px 10px;
  border-radius: 10px 10px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-pokemon > span {
  position: absolute;
  cursor: pointer;
  left: 10px;
  padding: 10px;
}
.navbar-pokemon > span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-left-color: #fff;
  border-top-color: #fff;
  transform: rotate(-45deg);
}
.navbar-pokemon > p {
  font-weight: 600;
  font-size: 14pt;
  margin: 0;
  text-transform: capitalize;
}
</style>